.product-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 360px;
}

.product-category {
    color: var(--desc-color);
}

.product-card-link {
    text-decoration: none !important;
    color: inherit;                  
    outline: none;                   
}

.product-card-link:hover {
    text-decoration: none;       
}