.product-detail-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.product-detail-image{
    flex: 1;
}

.product-detail-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.product-buy-btn {
    width: 50%;
}

.add-cart-btn {
    background: transparent;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    width: 50%;
}

.add-cart-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}